* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 0;
  text-align: center;
  font-size: 18px;
}

.message {
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  color: #ffffff;
}